{% extends 'base.html.twig' %}

{% block title %}Edition du devis{% endblock %}

{% block content %}
    <h1>Edition du devis</h1>

    {{ include('devis_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_devis_crud_index') }}">Retour vers la liste</a>

    {{ include('devis_crud/_delete_form.html.twig') }}
{% endblock %}
