<form method="post" action="{{ path('app_haie_crud_delete', {'code': haie.code}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ haie.code) }}">
    <button class="bouton_formulaire_suppression">Supprimer</button>
</form>
