{% extends 'base.html.twig' %}

{% block title %}Nouvelle Haie
{% endblock %}

{% block content %}

	<div class="bloc">

			<h1>Création d'une nouvelle haie.</h1>


				{{ include('haie_crud/_form.html.twig') }}

				<br>

				<a class="bouton_validation" style="position: absolute; margin-top:175px;" href="{{ path('app_haie_crud_index') }}">Retour vers la liste</a>
	</div>
{% endblock %}
